<!-- START_HIGHLIGHT -->
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<!-- END_HIGHLIGHT -->
<h1>Listing projects</h1>



<% @projects.each do |project| %>
      <div class="entry" >

        <h3><%= project.name %></h3>
        <%= sanitize(project.description) %>

        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% if session[:user_id] %>

            <%= button_to('join2', {:controller => "projectuser", :action => "add_user_to_project", :project_id => project.id})%>
        <% end %>

      </div>

  <% end %>

<br />

<%= link_to 'New Project', new_project_path %>
