<% if notice %>
    <p id="notice" ><%= notice %></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>
   <%= render @project %>

|  <%= link_to 'Edit Project', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
